body,
html {
    height: 0;
    margin: 0;
}

.scene {
    background: #2d3436;
    background-image: radial-gradient(#636e72, #2d3436);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
